.container {
  display: flex;
  justify-content: space-between;
}

table {
  width: 100%;
}

button {
  margin-bottom: 15px;
  height: 40px;
  align-self: center;
}

.paginator {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 10px;
  margin-right: 10px;
}

.search-field {
  margin-left: 20px;
}

.selected {
  background: whitesmoke;
}
