.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.container {
  padding: 15px;
}

mat-toolbar {
  display: flex;
  justify-content: space-between;
}

form {
  margin-right: 20px;
}

input {
  padding-left: 15px;
  background-color: white;
  border-radius: 20px;
  color: black;
  font-size: 0.6em;
}
